:root {
    --primary: 72, 64, 65;
    --secondary: 67, 67, 113;
    --accent: 121, 174, 163;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    background-color: rgba(var(--secondary), .2);
}

/* Container */
.container {
    margin: 1rem;
    border: 3px solid rgba(var(--accent));
    border-radius: 1rem;
}

.container>h3 {
    margin: 0.5rem 1rem 0;
}

/* meals List */
.container#menu {
    width: 70%;
    margin: 1rem auto;
}

.meals-container {
    /* width: 70%; */
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 30vh;
    /* grid-template-rows: 17vw; */
    gap: 1rem;
    padding: 1rem;
}


/* utulities */
.hide {
    display: none;
}

footer {
    height: 1rem;
}